{{>header}}
<div class="create-tour">
    <div class="form-create">
        <form method="POST" enctype="multipart/form-data" action="/tour/create">
            <h1>Create Tour</h1>
            <div class="row">
                <div class="col">
                    <label for="city_name">City name</label>
                    <input name="city_name" type="text" class="form-control" placeholder="Enter city name"
                        value="{{t.name}}">

                    <div class="d-e">{{err}}</div>
                    <i class="fas fa-exclamation-triangle"></i>
                </div>
                <div class="col">
                    <label for="destination">Destination</label>
                    <input name="destination" type="text" class="form-control" placeholder="Enter country name"
                        value="{{t.destination}}">
                    <div class="d-e">{{err}}</div>
                    <i class="fas fa-exclamation-triangle"></i>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="cost">Cost</label>
                    <input name="cost" type="number" class="form-control" value="{{t.cost}}">

                    <div class="d-e">{{err}}</div>
                    <i class="fas fa-exclamation-triangle"></i>
                </div>
                <div class="col">
                    <label for="age">Age</label>
                    <input name="age" type="number" class="form-control" placeholder="Enter country name"
                        value="{{t.age}}">

                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="start">Start</label>
                    <input name="start" type="datetime-local" class="form-control" value="{{t.start}}">

                    <div class="d-e">{{err}}</div>
                    <i class="fas fa-exclamation-triangle"></i>
                </div>
                <div class="col">
                    <label for="end">End</label>
                    <input name="end" type="datetime-local" class="form-control" placeholder="Enter country name"
                        value="{{t.end}}">
                </div>
            </div>
            <div class="plan">
                <p>Tour plan</p>
                <div name="plan" class="plan-day">
                    
                        <label for="plan_title">Title</label>
                        <input type="text" class="form-control" name="plan_titles[]" placeholder="Main action">
                        <div class="row">
                            <div class="col">
                                <label for="plan_included">Included</label>
                                <input type="text" class="form-control" name="plan_includes[]" placeholder="Plan included">
                            </div>

                            <div class="col">
                                <label for="plan_notIncluded">Not included</label>
                                <input type="text" class="form-control" name="plan_notIncludes[]"
                                    placeholder="Plan not included">
                            </div>
                        </div>
                        <label for="plan_description">Description</label>
                        <input type="text" class="form-control" name="plan_descriptions[]" placeholder="Plan description">

                </div>
            </div>
            <div class="form-group">
                <label for="departure">Departure</label>
                <input type="text" class="form-control" name="departure" value="{{t.departure}}">
                <div class="d-e">Error</div>
                <i class="fas fa-exclamation-triangle"></i>
            </div>
            <div class="form-group">
                <label for="dress">Dress Code</label>
                <input type="text" class="form-control" name="dress" value="{{t.dress}}">
                <div class="d-e">Error</div>
                <i class="fas fa-exclamation-triangle"></i>
            </div>

            <div class="form-group">
                <label for="included">Included</label>
                <input type="text" class="form-control" name="included" value="{{t.included}}"></input>
                <div class="d-e">Error</div>
                <i class="fas fa-exclamation-triangle"></i>
            </div>
            <div class="form-group">
                <label for="notInclude">Not Included</label>
                <input type="text" class="form-control" name="notInclude" value="{{t.notInclude}}"></input>
                <div class="d-e">Error</div>
                <i class="fas fa-exclamation-triangle"></i>
            </div>
            <div class="form-group">
                <label for="category">Category</label>
                <input type="text" class="form-control" name="category" value="{{t.category}}"></input>
                <div class="d-e">Error</div>
                <i class="fas fa-exclamation-triangle"></i>
            </div>
            <div class="form-group">
                <label for="description">Tour Description</label>
                <textarea type="text" class="form-control" name="description">{{t.description}}</textarea>
                <div class="d-e">Error</div>
                <i class="fas fa-exclamation-triangle"></i>
            </div>
            <div class="form-group">
                <label for="exampleFormControlFile1">Choose images about tour</label>
                <input type="file" name="img" multiple="multiple" class="form-control-file" required>
                <div class="d-e">Error</div>
                <i class="fas fa-exclamation-triangle"></i>
            </div>
            <button type="submit" class=" btn btn-primary">Submit</button>
        </form>
    </div>
</div>
<script>

    const submit = document.querySelector('.create-tour .btn');
    const form = document.querySelector('.create-tour form');
    const plan = document.querySelector('.plan');
    const plan_day = document.querySelector('.plan-day')

    var e = [];
    e[0] = document.querySelector('input[name="city_name"]');
    e[1] = document.querySelector('input[name="destination"]');
    e[2] = document.querySelector('input[name="cost"]');
    e[3] = document.querySelector('input[name="age"]');
    e[4] = document.querySelector('input[name="start"]');
    e[5] = document.querySelector('input[name="end"]');
    e[6] = document.querySelector('input[name="departure"]');
    e[7] = document.querySelector('input[name="dress"]');
    e[8] = document.querySelector('input[name="included"]');
    e[9] = document.querySelector('input[name="notInclude"]');
    e[10] = document.querySelector('input[name="category"]');
    e[11] = document.querySelector('textarea[name="description"]');
    if (e[0].value != "") {
        e[0].parentElement.classList.add('error');
    }
    console.log(e);
    var err = false;
    function vali(element) {
        if (element.value.length === 0) {
            element.parentElement.classList.add('error');
            var x = element.getAttribute("name");
            if (x === "city_name") x = "city name";
            if (x === "notInclude") x = "not include";
            if (x === "description") x = "tour description";
            x = x[0].toUpperCase() + x.slice(1) + " must not be null";
            element.nextElementSibling.innerHTML = x;
            err = true;
        }
        else err = false;
    };
    form.onsubmit = function (a) {
        var sub = false;
        console.log(err);
        e.forEach(function (value, index) {
            vali(value);
        });

        if (err) a.preventDefault();

    };

    e.forEach(function (value, index) {
        value.onfocus = function (e) {
            e.target.parentElement.classList.remove('error');
        }
    });
    e.forEach(function (value, index) {
        value.onfocusout = function (e) {
            vali(e.target);
        }
    });



    var f1 = new Promise(function (resolve) {
        e[4].onfocusout = function (e) {
            var s = e.target.value;
            resolve(s);
        };
    });
    var f2 = new Promise(function (resolve) {
        e[5].onfocusout = function (e) {
            var end = e.target.value;
            resolve(end);
        };
    });
    function daysInMonth(month, year) {
        return new Date(year, month, 0).getDate();
    }
    Promise.all([f1, f2]).then(([s, en]) => {
        var ds = new Date(s);
        var es = new Date(en);
        const ONE_DAY = 1000 * 60 * 60 * 24;
        var h = (es.getTime() - ds.getTime()) / ONE_DAY;
        var x = (h === Math.ceil(h)) ? h + 1 : h;
        console.log(x);
        var tmp = plan_day.outerHTML;
        var t=plan_day.innerHTML;
        plan_day.innerHTML=`<p>Day 1</p>`+plan_day.innerHTML;
        for (var i = 1; i < x; i++) {           
            var tm=`<div name="plan" name="plan${i}" class="plan-day"><p>Day ${i+1}</p> ${t}</div>`; 
            plan.innerHTML +=tm;
        };
        plan.classList.add('show');
    });

</script>