{{>header}}
<div class="showTour">
    <div class="slide-container">
        <div class="slider" style="background-image: url('{{t.img.[0]}}');"></div>
        <div>
            <h3>Amazing Tour</h3>
            <h1>{{t.city_name}}</h1>
        </div>
    </div>
    <div class="body">
        <div class="body-container">
            <ul class=" body-header row">
                <li class="h-info col h-active"><a><i class="far fa-list-alt"></i>INFORMATION</a></li>
                <li class="h-plan col"><a><i class="far fa-calendar"></i>TOUR PLAN</a></li>
                <li class="col"><a><i class="fas fa-map-marker-alt"></i>LOCATION</a></li>
                <li class="col"><a><i class="fas fa-camera"></i>GALLERY</a></li>
                <li class="col"><a><i class="far fa-comments"></i>REVIEWS</a></li>
            </ul>
            <div class="content">
                <div class="info">
                    <div class="content-info active">

                        <div class="info-item info-header">
                            <h3>{{t.name}}</h3>
                            <div>
                                <h5>${{t.cost}}</h5>
                                <p>/ per person</p>
                            </div>
                        </div>
                        <p class="info-item">{{t.description}}
                        </p>
                        <div class="info-item info-sold-age">
                            <span><i class="fas fa-shopping-basket"></i>{{t.sold}}</span>
                            <span><i class="fas fa-user-check"></i>{{t.age}}+ age</span>
                        </div>
                        <div class="info-item info-body">
                            <div class="row">
                                <div class="col-5">Destination</div>
                                <div class="col"><a href="/destination/{{c.slug}}">{{t.destination}}</a></div>
                            </div>
                            <div class="row">
                                <div class="col-5">Departure</div>
                                <div class="col">{{t.departure}}</div>
                            </div>
                            <div class="row">
                                <div class="col-5">Departure Time</div>
                                <div class="col">{{t.start}}</div>
                            </div>
                            <div class="row">
                                <div class="col-5">Return Time</div>
                                <div class="col">{{t.end}}</div>
                            </div>
                            <div class="row">
                                <div class="col-5">Dress Code</div>
                                <div class="col">{{t.dress}}</div>
                            </div>
                            <div class="row">
                                <div class="col-5">Included</div>
                                <div class="col">
                                    <ul>
                                        {{#each t.included}}
                                        <li><i class="far fa-check-circle"></i>{{this}}</li>
                                        {{/each}}
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5">Not Included</div>
                                <div class="col">
                                    <ul>
                                        {{#each t.notInclude}}
                                        <li><i class="far fa-times-circle"></i> {{this}}</li>
                                        {{/each}}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="info-item info-img">
                            <h3>From our gallery</h3>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                                dolor. Aenean massa. Cum sociis Theme natoque penatibus et magnis dis parturient montes,
                                nascetur ridiculus mus.
                            </p>
                            <div>
                                <div>
                                    <img src="{{t.img.[2]}}">
                                </div>
                                <div>
                                    <img src="{{t.img.[4]}}">
                                </div>
                                <div>
                                    <img src="{{t.img.[9]}}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="plan-info">
                        <h3>Tour Plan</h3>
                        {{#each t.plan}}
                        <div class="plan">

                            <div class="plan-header">
                                <span>{{sum @index 1}}</span>
                                <h4>Day {{sum @index 1}}: {{this.plan_title}}</h4>
                            </div>
                            <div class="plan-body">
                                <p>{{this.plan_description}}</p>
                                <div>
                                    <h5>Included</h5>
                                    <ul>
                                        {{#each this.plan_include}}
                                        <li><i class="far fa-check-circle"></i>{{this}}</li>
                                        {{/each}}
                                    </ul>
                                </div>
                                <div>
                                    <h5>Not Included</h5>
                                    <ul>
                                        {{#each this.plan_notInclude}}
                                        <li><i class="far fa-times-circle"></i>{{this}}</li>
                                        {{/each}}
                                    </ul>
                                </div>
                            </div>

                            <div class="line"></div>

                        </div>
                        {{/each}}
                    </div>
                    <div class="book">
                        <div class="book-main">
                            <h4>Book This Tour</h4>
                            <p>Arrange your trip in advance - book this tour now!</p>
                            <form id="book-tour" method="POST" action="/me/book">
                            
                                <input type="text" name="phone" placeholder="Phone *"></input>
                                <input type="number" name="count" placeholder="Number of tickets *"></input>
                                <input type="text" name="message" placeholder="Message *"></input>
                                <input type="text" style="display: none;" name="tour_id" value="{{t._id}}">
                                <button>BOOK NOW<i class="fas fa-exclamation-triangle"></i></button>
                                <p class="err">You not login yet</p>
                                <p>If you not login yet, please <a href="">Login</a> or create account with <a href="/register">Register</a></p>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
{{>footer}}
<script>
    const h = [];
    const c = [];
    h[0] = document.querySelector('.h-info');
    h[1] = document.querySelector('.h-plan');
    c[0] = document.querySelector('.content-info');
    c[1] = document.querySelector('.plan-info');
    h.forEach(function (value, index) {
        value.onclick = function (e) {
            handleClick(e, index);
        }
    });
    console.log(c[1]);
    function handleClick(e, index) {
        console.log(e.target)
        for (var i = 0; i < h.length; i++) {
            console.log(i);
            h[i].classList.remove('h-active');
            c[i].classList.remove('active')
        }
        h[index].classList.add('h-active');
        c[index].classList.add('active');
    }
</script>