<div class="register">
    <div class="form-create">

        <form method="POST" enctype="multipart/form-data" action="/store">
            <h1>Register</h1>
            <p class="login">If you already have account, please go to <a href="/login">Login</a></p>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="name" value="{{p.name}}">
                <div class="d-e">Error</div>
                <i class="fas fa-exclamation-triangle"></i>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" value="{{p.email}}">
                <div class="d-e">{{err}}</div>
                <i class="fas fa-exclamation-triangle"></i>
            </div>
            <div class="form-group">
                <label for="dob">Day of birth</label>
                <input type="text" class="form-control" name="dob" value="{{p.dob}}">
                <div class="d-e">Error</div>
                <i class="fas fa-exclamation-triangle"></i>
            </div>
            <div class="form-group">
                <label for="pass">Password</label>
                <input type="password" class="form-control" name="pass"
                    placeholder="Password must at least 6 characters" value="{{p.pass}}">
                <div class="d-e">Error</div>
                <i class="fas fa-exclamation-triangle"></i>
            </div>
            <div class="form-group">
                <label for="re-pass">Confirm Password</label>
                <input type="password" class="form-control" name="re-pass">
                <div class="d-e">Error</div>
                <i class="fas fa-exclamation-triangle"></i>
            </div>
            <div class="form-check">
                <div>
                    <input class="form-check-input" type="radio" name="part" id="admin" value="admin">
                    <label class="form-check-label" for="admin">
                        Admin
                    </label>
                </div>
                <div>
                    <input class="form-check-input" id="user" type="radio" name="part" value="user" checked>
                    <label class="form-check-label" for="user">
                        User
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label for="avatar">Choose your avatar</label>
                <input type="file" name="avatar" multiple="multiple" class="form-control-file">
            </div>

            <button type="submit" class=" btn btn-primary">Submit</button>
        </form>
    </div>
</div>
<script>

    const submit = document.querySelector('.btn');
    const form = document.querySelector('form');
    console.log(form)
    var e = [];
    e[0] = document.querySelector('input[name="name"]');
    e[1] = document.querySelector('input[name="email"]');
    e[2] = document.querySelector('input[name="dob"]');
    e[3] = document.querySelector('input[name="pass"]');
    e[4] = document.querySelector('input[name="re-pass"]');
    if (e[1].value != "") {
        e[1].parentElement.classList.add('error');
    }
    var err = false;
    function vali(element) {
        if (element.value.length === 0) {
            element.parentElement.classList.add('error');
            var x = element.getAttribute("name");
            if (x === "dob") x = "day of birth";
            else if (x === "re-pass") x = "Confirm password";
            x = x[0].toUpperCase() + x.slice(1) + " must not be null";
            element.nextElementSibling.innerHTML = x;
            err = true;
        };
        if (element == e[3]) {
            console.log(123);
            if (e[3].value.length < 6) {
                var x = "Password must at least 6 characters";
                e[3].nextElementSibling.innerHTML = x;
                e[3].parentElement.classList.add('error');
                err = true;
            }
        };
        if (element = e[4]) {
            if (e[4].value != e[3].value) {
                var x = "Confirm password is wrong";
                e[4].nextElementSibling.innerHTML = x;
                e[4].parentElement.classList.add('error');
                err = true;
            }
        }
        if (element.value.length != 0) {
            if (element != e[3] && element != e[4] || (element == e[3] && element.value.length >= 6) || (element == e[4] && element.value == e[3].value)) {
                err = false;
            }
        }
    };
    form.onsubmit = function (a) {
        var sub = false;

        e.forEach(function (value, index) {
            vali(value);
        });
        console.log(err);
        if (err) a.preventDefault();

    };
    e.forEach(function (value, index) {
        value.onfocus = function (e) {
            e.target.parentElement.classList.remove('error');
        }
    });
    e.forEach(function (value, index) {
        value.onfocusout = function (e) {
            vali(e.target);
        }
    });




</script>